body {
  font-size: 14px !important;
}

.ic-text > * {
  margin-top: inherit !important;
}

[class*='iu-grid-cols'] {
  grid-row-gap: 0.9375rem !important;
  row-gap: 0.9375rem !important;
  grid-column-gap: 0.9375rem !important;
  column-gap: 0.9375rem !important;
}

/*This is a temporary fix to position inputs correctly in certificate*/
.ic-forms__checkbox + label,
.ic-forms__radio + label {
  align-items: unset !important;
}

.ic-forms__checkbox + label:before,
.ic-forms__radio + label:before {
  top: 3px !important;
}

.ic-forms__radio,
.ic-forms__checkbox {
  width: 0;
}

.ic-forms__radio:checked:disabled + label:before {
  background: #c3bbb4 !important;
}

.ic-forms__radio:disabled + label:before {
  background: #f7f4f2 !important;
}

.ic-textfield--focus,
.ic-textfield:focus,
.ic-textarea:focus {
  outline: 2px solid #a1958a;
  outline-offset: 4px;
  box-shadow: none;
}

input:disabled + label,
input:disabled::placeholder {
  font-style: italic;
}

.ic-alert {
  padding: 4px 8px 4px 0 !important;
  flex-wrap: nowrap !important;
}

.iu-no-padding {
  padding: 0 !important;
}

.ic-button--disabled {
  border: 1px solid #a1958a !important;
}

.ic-forms__select {
  max-width: 30ch;
}

.ic-container,
.ic-global-alert__inner {
  max-width: 1440px !important;
}

.ic-page-header__inner {
  max-width: 1440px !important;
}

.ic-button {
  text-transform: unset !important;
  padding: 0.65rem 1rem !important;
  font-size: 14px !important;
}

.ic-textfield {
  min-height: unset !important;
}

.ic-forms__select {
  border-left: 0.0625rem solid #8d8d8d;
  border-right: 0.0625rem solid #8d8d8d;
  border-top: 0.0625rem solid #8d8d8d;
}

.ic-forms__select.iu-border-error {
  background-color: #fbf2f4;
  border-bottom-width: 0.125rem !important;
}

.ic-alert__icon {
  width: 1.2rem !important;
  height: 1.2rem !important;
}

.box-shadow {
  box-shadow:
    0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

img {
  max-width: 100%;
}

.iu-grid-no-gap {
  column-gap: 0 !important;
}

.ic-page-header__logo-link_webcert {
  background-image: url('./images/webcert_logo.png');
  background-size: 3.75rem 2.3125rem;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  height: 100%;
  width: 100%;
}

.ic-card.ic-expandable .ic-expandable-button:after {
  top: 4px;
  right: 0;
}

.ic-popover {
  width: fit-content;
  max-width: 190px !important;
  text-align: center !important;
}

.__react_component_tooltip.show {
  opacity: 1 !important;
}

.ic-textarea {
  min-height: unset !important;
  margin-top: 0.375rem !important;
}

.react-datepicker-popper {
  z-index: 100 !important;
}

.react-datepicker-popper[data-popper-reference-hidden] {
  visibility: hidden !important;
  pointer-events: none !important;
}

.react-datepicker__navigation-icon {
  top: 6px !important;
}

.react-datepicker__navigation-icon::before {
  border-width: 0 10px 10px 0 !important;
  border-bottom-color: transparent !important;
  width: 0 !important;
  height: 0 !important;
}

.react-datepicker__navigation--next {
  border-left-color: #ccc !important;
}

.react-datepicker__navigation--previous {
  border-right-color: #ccc !important;
}

.react-datepicker__navigation--next:hover {
  border-left-color: #b3b3b3 !important;
}

.react-datepicker__day--selected,
.react-datepicker__year--selected {
  background-color: #01a5a3 !important;
}

.react-datepicker__year-text {
  border: 1px solid #ccc !important;
  border-radius: 0.3rem !important;
  padding: 5px 0 3px 0 !important;
  width: 3.5rem !important;
}

.ic-page-header__inner {
  max-width: 1385px !important;
}

@media (max-width: 1024px) {
  .ic-page-header__item {
    padding-right: 100px !important;
  }

  .ic-page-header__logo-container {
    width: 7.5rem !important;
  }
}

.ic-link-list--nav .ic-button--secondary {
  color: #01a5a3 !important;
}

.ic-tabbed__tab {
  font-family: 'Open Sans', Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif !important;
}

.ic-textarea--error {
  background-color: #fbf2f4 !important;
}

.ic-text ol li:before {
  color: inherit;
}
