server {
  listen 8080 default_server;
  server_name  _;
  root /usr/share/nginx/html;
  include /etc/nginx/extra-conf.d/*.conf;

  location ~ index\.html$ {
    alias /usr/share/nginx/html/general/index.html;
  }

  location / {
    try_files $uri $uri/ /index.html;
  }
}
