@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap';
@import '@inera/ids-core/styles/themes/1177.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

summary::-webkit-details-marker {
  display: none;
}

summary::marker {
  display: none;
}

ids-input input,
ids-input select,
ids-select select,
ids-textarea textarea {
  padding: 0.75rem 1.25rem;
  border: 1px solid var(--color-web-action);
}

ids-select {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

ids-select select {
  padding-right: 2.5rem;
}

.ids-certificate p,
.ids-certificate ul,
.ids-certificate table {
  margin-bottom: 0.625rem;
}

.ids-certificate ul {
  list-style-type: disc;
  padding-inline-start: 40px;
}

.ids-certificate table {
  width: 100%;
  word-break: break-word;
}

.ids-certificate .ids-heading-4,
.ids-certificate .ids-heading-5,
.ids-certificate .ids-heading-6 {
  margin-bottom: 0.3125rem !important;
}

ids-header-avatar a {
  color: rgb(160, 11, 54) !important;
  text-decoration: underline !important;
}

a {
  color: var(--color-sky-base);
  text-decoration: underline;
}

a:hover {
  color: var(--color-sky-dark);
}

.ids table.ids-table {
  border-bottom: 0;
  border-radius: 0;
}

.ids table.ids-table tbody tr:last-child td {
  border-bottom: var(--table_border-bottom);
}

.ids table.ids-table tbody tr:last-child th {
  border-bottom: 0;
}

.ids table.ids-table tbody:not(:first-child) tr:first-child th {
  border-top: var(--table-cell_border);
}

.ids table.ids-table thead th:first-child {
  border-radius: 10px 0 0 0;
}

.ids table.ids-table thead th:last-child {
  border-radius: 0 10px 0 0;
}

.ids table.ids-table thead th:last-child:first-child {
  border-radius: 10px 10px 0 0;
}

.ids table.ids-table tbody:first-child tr:first-child th {
  border-radius: 10px 0 0 0;
}

.ids table.ids-table tbody tr:last-child th {
  border-radius: 0 0 0 10px;
}

.ids table.ids-table tbody:first-child tr:last-child:first-child th {
  border-radius: 10px 0 0 10px;
}

.ids table.ids-table tbody:first-child tr:first-child th + td {
  border-top: 0;
}

.ids table.ids-table tbody tr:last-child th + td:last-child {
  border-bottom: 0;
}
