@import 'https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&family=Poppins:wght@600&display=swap';
@import '@inera/ids-core/styles/themes/inera-admin.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@page {
  size: A4 landscape;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

summary::-webkit-details-marker {
  display: none;
}

.ids-content .ids-heading-2,
.ids-content .ids-heading-2.ids-small,
.ids-content .ids-heading-3,
.ids-content .ids-heading-4,
.ids-content .ids-heading-5,
.ids-content .ids-heading-6 {
  margin-bottom: inherit;
}

.ids-content .ids-heading-1,
.ids-content .ids-heading-1.ids-small {
  margin-bottom: inherit;
}

.ids-content .ids-body {
  margin-bottom: inherit;
}

.ids-content .ids-preamble {
  margin-bottom: inherit;
}

.ids-content .ids-heading-2:not(:last-child),
.ids-content .ids-heading-2.ids-small:not(:last-child),
.ids-content .ids-heading-3:not(:last-child),
.ids-content .ids-heading-4:not(:last-child),
.ids-content .ids-heading-5:not(:last-child),
.ids-content .ids-heading-6:not(:last-child) {
  margin-bottom: 0.625rem;
}

.ids-content .ids-heading-1:not(:last-child),
.ids-content .ids-heading-1.ids-small:not(:last-child) {
  margin-bottom: 1.25rem;
}

.ids-content .ids-body:not(:last-child) {
  margin-bottom: 1.875rem;
}

.ids-content .ids-preamble:not(:last-child) {
  margin-bottom: 2.5rem;
}

.ids-content ::-webkit-scrollbar {
  width: 0.875rem;
  height: 0.875rem;
  border-radius: 0.625rem;
  background-color: var(--IDS-COLOR-NEUTRAL-99);
}

.ids-content ::-webkit-scrollbar-thumb {
  background-color: var(--IDS-COLOR-ACCENT-40);
  border-radius: 0.625rem;
}

.ids-table.ids-table-sticky tr th.sticky {
  position: absolute !important;
}

.ids-table tr td {
  background-color: #fff !important;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  opacity: 1;
}
