@import 'https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400;1,700&display=swap';
@import '@inera/ids-core/styles/themes/1177.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-family_1: 'Open Sans', Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
  --font-family_2: Inter, Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, sans-serif;
}

a {
  color: var(--color-sky-base);
  text-decoration: underline;
}

a:hover {
  color: var(--color-sky-dark);
}
